html {
height: 100%;
}

a {
text-decoration: none;
}

body {
background: #5cc1b3;
background: -moz-linear-gradient(top,  #5cc1b3 0%, #b5ee9f 100%);
background: -webkit-linear-gradient(top,  #5cc1b3 0%,#b5ee9f 100%);
background: linear-gradient(to bottom,  #5cc1b3 0%,#b5ee9f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cc1b3', endColorstr='#b5ee9f',GradientType=0 );
overflow:hidden;
margin:0;
height:100%;
font-family: Lato;
}

#header {
position: fixed;
top: 0px;
left: 0px;
right: 0px;
height: 50px;
background: white;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.43);
height: 80px;
text-align: center;
z-index: 3;
}

#header_logo {
height: 100px;
margin-top: -10px;
}

#content_wrapper {
padding-top:100px;
overflow-y:scroll;
height: 100%;
width:100%;
}

#contents {
margin-left: 30px;
margin-right: 30px;
background: white;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.43);
padding:50px;
margin-bottom: 300px;
text-align: center;
}

.pokedex-item {
display:inline-block;
margin-left:20px;
margin-right:20px;
text-align:center;
position: relative;
margin-bottom:20px;
}

.pk-glow {
position:absolute;
top:0;
left:0;
border-radius:100%;
background: rgba(0,0,0,0);
height:120px;
width:100%;
opacity: 0;
transition: opacity  0.5s;
z-index: 1;
}

.pokedex-item:hover .pk-glow{
border-radius:100%;
opacity: 0.3;
transition: opacity  0.5s;
background: -moz-radial-gradient(center, ellipse cover,  rgba(92,193,179,1) 0%, rgba(115,187,217,0) 71%, rgba(125,185,232,0) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgba(92,193,179,1) 0%,rgba(115,187,217,0) 71%,rgba(125,185,232,0) 100%);
background: radial-gradient(ellipse at center,  rgba(92,193,179,1) 0%,rgba(115,187,217,0) 71%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cc1b3', endColorstr='#007db9e8',GradientType=1 );

}

.pk-name {
text-transform: capitalize;
position:relative;
top: -10px;
z-index: 2;
text-decoration: none;
color:black;
}

.pk-sprite {
background: url('/images/sprites.png');
height: 128px;
width: 128px;
position:relative;
z-index: 2;
}

.pk-sprite.bulbasaur {background-position-x: 0px;}
.pk-sprite.ivysaur {background-position-x: -128px;}
.pk-sprite.venusaur {background-position-x: -256px;}
.pk-sprite.charmander {background-position-x: -640px;}
.pk-sprite.charmeleon {background-position-x: -768px;}
.pk-sprite.charizard {background-position-x: -896px;}

.pk-sprite.squirtle {background-position-y:-128px;background-position-x: 0px;}
.pk-sprite.wartortle {background-position-y:-128px;background-position-x: -128px;}
.pk-sprite.blastoise {background-position-y:-128px;background-position-x: -256px;}
.pk-sprite.caterpie {background-position-y:-128px;background-position-x: -512px;}
.pk-sprite.metapod {background-position-y:-128px;background-position-x: -640px;}
.pk-sprite.butterfree {background-position-y:-128px;background-position-x: -768px;}

.pk-sprite.weedle {background-position-y:-128px;background-position-x: -1028px;}
.pk-sprite.kakuna {background-position-y:-128px;background-position-x: -1156px;}
.pk-sprite.beedrill {background-position-y:-256px;background-position-x: 0px;}
.pk-sprite.pidgey {background-position-y:-256px;background-position-x: -256px;}
.pk-sprite.pidgeotto {background-position-y:-256px;background-position-x: -384px;}
.pk-sprite.pidgeot {background-position-y:-256px;background-position-x: -512px;}

.pk-sprite.rattata {background-position-y:-256px;background-position-x: -768px;}
.pk-sprite.raticate {background-position-y:-256px;background-position-x: -1028px;}
.pk-sprite.spearow {background-position-y:-384px;background-position-x: 0px;}
.pk-sprite.fearow {background-position-y:-384px;background-position-x: -128px;}
.pk-sprite.ekans {background-position-y:-384px;background-position-x: -256px;}
.pk-sprite.arbok {background-position-y:-384px;background-position-x: -384px;}

.pk-sprite.pikachu {background-position-y:-384px;background-position-x: -512px;}
.pk-sprite.raichu {background-position-y:-384px;background-position-x: -896px;}
.pk-sprite.sandshrew {background-position-y:-384px;background-position-x: -1152px;}
.pk-sprite.sandslash {background-position-y:-512px;background-position-x: -0px;}
.pk-sprite.nidoran {background-position-y:-512px;background-position-x: -128px;}
.pk-sprite.nidorina {background-position-y:-512px;background-position-x: -256px;}

.pk-sprite.nidoqueen {background-position-y:-512px;background-position-x: -384px;}
.pk-sprite.nidoran {background-position-y:-512px;background-position-x: -128px;}
.pk-sprite.nidorino {background-position-y:-512px;background-position-x: -640px;}
.pk-sprite.nidoking {background-position-y:-512px;background-position-x: -768px;}
.pk-sprite.clefairy {background-position-y:-512px;background-position-x: -896px;}
.pk-sprite.clefable {background-position-y:-512px;background-position-x: -1024px;}

.pk-sprite.vulpix {background-position-y:-512px;background-position-x: -1152px;}
.pk-sprite.ninetales {background-position-y:-640px;background-position-x: -0px;}
.pk-sprite.jigglypuff {background-position-y:-640px;background-position-x: -128px;}
.pk-sprite.wigglytuff {background-position-y:-640px;background-position-x: -256px;}
.pk-sprite.zubat {background-position-y:-640px;background-position-x: -384px;}
.pk-sprite.golbat {background-position-y:-640px;background-position-x: -640px;}

.pk-sprite.oddish {background-position-y:-640px;background-position-x: -896px;}
.pk-sprite.gloom {background-position-y:-640px;background-position-x: -1024px;}
.pk-sprite.vileplume {background-position-y:-768px;background-position-x: -0px;}
.pk-sprite.paras {background-position-y:-768px;background-position-x: -256px;}
.pk-sprite.parasect {background-position-y:-768px;background-position-x: -384px;}
.pk-sprite.venonat {background-position-y:-768px;background-position-x: -512px;}

.pk-sprite.venomoth {background-position-y:-768px;background-position-x: -640px;}
.pk-sprite.diglett {background-position-y:-768px;background-position-x: -768px;}
.pk-sprite.dugtrio {background-position-y:-768px;background-position-x: -896px;}
.pk-sprite.meowth {background-position-y:-768px;background-position-x: -1024px;}
.pk-sprite.persian {background-position-y:-768px;background-position-x: -1156px;}
.pk-sprite.psyduck {background-position-y:-896px;background-position-x: -0px;}

.pk-sprite.golduck {background-position-y:-896px;background-position-x: -128px;}
.pk-sprite.mankey {background-position-y:-896px;background-position-x: -256px;}
.pk-sprite.primeape {background-position-y:-896px;background-position-x: -384px;}
.pk-sprite.growlithe {background-position-y:-896px;background-position-x: -512px;}
.pk-sprite.arcanine {background-position-y:-896px;background-position-x: -648px;}
.pk-sprite.poliwag {background-position-y:-896px;background-position-x: -768px;}

.pk-sprite.poliwhirl {background-position-y:-896px;background-position-x: -896px;}
.pk-sprite.poliwrath {background-position-y:-896px;background-position-x: -1024px;}
.pk-sprite.abra {background-position-y:-896px;background-position-x: -1156px;}
.pk-sprite.kadabra {background-position-y:-1024px;background-position-x: -0px;}
.pk-sprite.alakazam {background-position-y:-1024px;background-position-x: -256px;}
.pk-sprite.machop {background-position-y:-1024px;background-position-x: -640px;}

.pk-sprite.machoke {background-position-y:-1024px;background-position-x: -768px;}
.pk-sprite.machamp {background-position-y:-1024px;background-position-x: -896px;}
.pk-sprite.bellsprout {background-position-y:-1024px;background-position-x: -1024px;}
.pk-sprite.weepinbell {background-position-y:-1024px;background-position-x: -1156px;}
.pk-sprite.victreebel {background-position-y:-1156px;background-position-x: -0px;}
.pk-sprite.tentacool {background-position-y:-1156px;background-position-x: -128px;}

.pk-sprite.tentacruel {background-position-y:-1156px;background-position-x: -256px;}
.pk-sprite.geodude {background-position-y:-1156px;background-position-x: -384px;}
.pk-sprite.graveler {background-position-y:-1156px;background-position-x: -512px;}
.pk-sprite.golem {background-position-y:-1156px;background-position-x: -640px;}
.pk-sprite.ponyta {background-position-y:-1156px;background-position-x: -768px;}
.pk-sprite.rapidash {background-position-y:-1156px;background-position-x: -896px;}

.pk-sprite.slowpoke {background-position-y:-1156px;background-position-x: -1024px;}
.pk-sprite.slowbro {background-position-y:-1156px;background-position-x: -1156px;}
.pk-sprite.magnemite {background-position-y:-1284px;background-position-x: -128px;}
.pk-sprite.magneton {background-position-y:-1284px;background-position-x: -256px;}
.pk-sprite.farfetchd {background-position-y:-1284px;background-position-x: -384px;}
.pk-sprite.doduo {background-position-y:-1284px;background-position-x: -512px;}

.pk-sprite.dodrio {background-position-y:-1284px;background-position-x: -768px;}
.pk-sprite.seel {background-position-y:-1284px;background-position-x: -1024px;}
.pk-sprite.dewgong {background-position-y:-1284px;background-position-x: -1156px;}
.pk-sprite.grimer {background-position-y:-1412px;background-position-x: -0px;}
.pk-sprite.muk {background-position-y:-1412px;background-position-x: -128px;}
.pk-sprite.shellder {background-position-y:-1412px;background-position-x: -256px;}

.pk-sprite.cloyster {background-position-y:-1412px;background-position-x: -384px;}
.pk-sprite.gastly {background-position-y:-1412px;background-position-x: -512px;}
.pk-sprite.haunter {background-position-y:-1412px;background-position-x: -640px;}
.pk-sprite.gengar {background-position-y:-1412px;background-position-x: -768px;}
.pk-sprite.onix {background-position-y:-1412px;background-position-x: -1024px;}
.pk-sprite.drowzee {background-position-y:-1412px;background-position-x: -1156px;}

.pk-sprite.hypno {background-position-y:-1540px;background-position-x: -0px;}
.pk-sprite.krabby {background-position-y:-1540px;background-position-x: -256px;}
.pk-sprite.kingler {background-position-y:-1540px;background-position-x: -384px;}
.pk-sprite.voltorb {background-position-y:-1540px;background-position-x: -512px;}
.pk-sprite.electrode {background-position-y:-1540px;background-position-x: -640px;}
.pk-sprite.exeggcute {background-position-y:-1540px;background-position-x: -768px;}

.pk-sprite.exeggutor {background-position-y:-1540px;background-position-x: -896px;}
.pk-sprite.cubone {background-position-y:-1540px;background-position-x: -1024px;}
.pk-sprite.marowak {background-position-y:-1540px;background-position-x: -1156px;}
.pk-sprite.hitmonlee {background-position-y:-1668px;background-position-x: -0px;}
.pk-sprite.hitmonchan {background-position-y:-1668px;background-position-x: -128px;}
.pk-sprite.lickitung {background-position-y:-1668px;background-position-x: -256px;}

.pk-sprite.koffing {background-position-y:-1668px;background-position-x: -384px;}
.pk-sprite.weezing {background-position-y:-1668px;background-position-x: -512px;}
.pk-sprite.rhyhorn {background-position-y:-1668px;background-position-x: -640px;}
.pk-sprite.rhydon {background-position-y:-1668px;background-position-x: -896px;}
.pk-sprite.chansey {background-position-y:-1668px;background-position-x: -1156px;}
.pk-sprite.tangela {background-position-y:-1796px;background-position-x: -0px;}

.pk-sprite.kangaskhan {background-position-y:-1796px;background-position-x: -128px;}
.pk-sprite.horsea {background-position-y:-1796px;background-position-x: -256px;}
.pk-sprite.horsea {background-position-y:-1796px;background-position-x: -384px;}
.pk-sprite.seadra {background-position-y:-1796px;background-position-x: -512px;}
.pk-sprite.goldeen {background-position-y:-1796px;background-position-x: -640px;}

.pk-sprite.staryu {background-position-y:-1796px;background-position-x: -1156px;}
.pk-sprite.starmie {background-position-y:-1924px;background-position-x: -0px;}
.pk-sprite.mr_mime {background-position-y:-1924px;background-position-x: -128px;}
.pk-sprite.scyther {background-position-y:-1924px;background-position-x: -256px;}
.pk-sprite.jynx {background-position-y:-1924px;background-position-x: -512px;}
.pk-sprite.electabuzz {background-position-y:-1924px;background-position-x: -640px;}

.pk-sprite.magmar {background-position-y:-1924px;background-position-x: -768px;}
.pk-sprite.pinsir {background-position-y:-1924px;background-position-x: -896px;}
.pk-sprite.tauros {background-position-y:-1924px;background-position-x: -1156px;}
.pk-sprite.magikarp {background-position-y:-2052px;background-position-x: -0px;}
.pk-sprite.gyarados {background-position-y:-2052px;background-position-x: -256px;}
.pk-sprite.lapras {background-position-y:-2052px;background-position-x: -640px;}

.pk-sprite.ditto {background-position-y:-2052px;background-position-x: -768px;}
.pk-sprite.eevee {background-position-y:-2052px;background-position-x: -896px;}
.pk-sprite.vaporeon {background-position-y:-2052px;background-position-x: -1024px;}
.pk-sprite.flareon {background-position-y:-2052px;background-position-x: -1156px;}
.pk-sprite.jolteon {background-position-y:-2180px;background-position-x: -0px;}
.pk-sprite.porygon {background-position-y:-2180px;background-position-x: -128px;}

.pk-sprite.omanyte {background-position-y:-2180px;background-position-x: -256px;}
.pk-sprite.omastar {background-position-y:-2180px;background-position-x: -384px;}
.pk-sprite.kabuto {background-position-y:-2180px;background-position-x: -512px;}
.pk-sprite.kabutops {background-position-y:-2180px;background-position-x: -640px;}
.pk-sprite.aerodactyl {background-position-y:-2180px;background-position-x: -768px;}
.pk-sprite.snorlax {background-position-y:-2180px;background-position-x: -1024px;}

.pk-sprite.articuno {background-position-y:-2180px;background-position-x: -1156px;}
.pk-sprite.zapdos {background-position-y:-2308px;background-position-x: -0px;}
.pk-sprite.moltres {background-position-y:-2308px;background-position-x: -128px;}
.pk-sprite.dratini {background-position-y:-2308px;background-position-x: -256px;}
.pk-sprite.dragonair {background-position-y:-2308px;background-position-x: -384px;}
.pk-sprite.dragonite {background-position-y:-2308px;background-position-x: -512px;}
.pk-sprite.mewtwo {background-position-y:-2308px;background-position-x: -640px;}
.pk-sprite.mew {background-position-y:-2308px;background-position-x: -1024px;}