html {
height: 100%;
}

a {
text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

body {
background: #5cc1b3;
background: -moz-linear-gradient(top,  #5cc1b3 0%, #b5ee9f 100%);
background: -webkit-linear-gradient(top,  #5cc1b3 0%,#b5ee9f 100%);
background: linear-gradient(to bottom,  #5cc1b3 0%,#b5ee9f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cc1b3', endColorstr='#b5ee9f',GradientType=0 );
overflow:hidden;
margin:0;
height:100%;
font-family: Lato;
}

input {
background-color: transparent;
border: none;
border-bottom: 1px solid rgba(159,163,168,0.43);
border-radius: 0!important;
box-sizing: border-box;
color: #466c6d;
font-family: Lato, sans-serif;
font-size: 14px;
line-height: 20px;
margin-bottom: 35px;
margin-top: 10px;
padding: 7px 14px;
width: 100%;
outline: none;
}

#input_wrapper {
z-index: 1;
width: 90%;
margin: auto;
}

#header {
position: fixed;
top: 0px;
left: 0px;
right: 0px;
height: 50px;
background: white;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.43);
height: 80px;
text-align: center;
z-index: 3;
}

#footer {
position: static;
bottom: 0px;
left: 0;
right: 0px;
background: #0c172d;
color: white;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.43);
height: 120px;
text-align: center;
z-index: 3;
padding: 50px;
padding-top: 100px;
margin-left: -250px;
padding-bottom: 50px;
}

#header_logo {
height: 100px;
margin-top: -10px;
}

#content_wrapper {
position: absolute;
top: 40px;
left: -20px;
right: 0;
bottom: 0;
overflow-y: scroll;
text-align: center;
padding-top: 50px;
padding-bottom: 0px;
padding-left: 270px;
}

#left_nav {
position: fixed;
left: 0;
top: 90px;
width: 260px;
margin-left: 10px;
margin-right: 30px;
background: #fafafa;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.43);
margin-bottom: 100px;
text-align: left;
border-radius: 3px;
padding-top:10px;
padding-bottom:25px;
z-index: 1;
}

.left-nav-button {
margin-left:25px;
margin-right:45px;
padding: 10px;
color: #466c6d;
display: block;
}

.left-nav-category {
margin-left:25px;
margin-right:45px;
padding: 10px;
color: grey;
border-bottom: 1px solid lightgrey;
display: block;
text-transform: uppercase;
font-size: 10px;
margin-top:20px;
}

.left-nav-item {
color: #466c6d;
padding:10px;
margin-left: 25px;
display:block;
}

#contents {
margin-left: 30px;
margin-right: 10px;
background: #fafafa;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.43);
padding: 50px;
margin-bottom: 100px;
text-align: center;
border-radius: 3px;
min-height:525px;
}

#article_contents {
margin-left: 30px;
margin-right: 10px;
background: #fafafa;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.43);
padding: 50px;
margin-bottom: 100px;
text-align: center;
border-radius: 3px;
min-height:525px;
display:inline-block;
}

#mv_contents {
margin-left: 30px;
margin-right: 10px;
background: #fafafa;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.43);
padding: 50px;
margin-bottom: 100px;
text-align: center;
border-radius: 3px;
min-height:525px;
display:inline-block;
}

#pk_contents {
margin-left: 30px;
margin-right: 30px;
background: #fafafa;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.43);
padding: 10px;
text-align: center;
max-width: 550px;
margin: auto;
border-radius: 3px;
width: 450px;
box-sizing: border-box;
padding-top: 50px;
margin-bottom: 100px;
}

.pokedex-item {
display:inline-block;
margin-left:20px;
margin-right:20px;
text-align:center;
position: relative;
margin-bottom:20px;
}

.move-item {
display:block;
margin-left:20px;
margin-right:20px;
text-align:center;
position: relative;
margin-bottom:20px;
height:100px;
width:400px;
border-bottom:1px solid lightgrey;
}

.move-item-details {
position: absolute;
bottom: 0;
margin: auto;
display: block;
left: 0;
right: 0;
}

.move-item-details-text-left {
position: absolute;
left: 40px;
bottom:20px;
color:#717171;
font-size:10px;
text-transform: uppercase;
}

.move-item-stat {
font-size: 16px;
top: 1px;
color: #3c605c;
text-transform: capitalize;
position: relative;
left: 5px;
margin-right: 6px;
vertical-align: bottom;
}

.move-item-details-text-right {
position: absolute;
right:40px;
bottom:20px;
color:#717171;
font-size:10px;
text-transform: uppercase;
text-align: right;
}

.pk-glow {
position:absolute;
top:0;
left:0;
border-radius:100%;
background: rgba(0,0,0,0);
height:120px;
width:100%;
opacity: 0;
transition: opacity  0.5s;
z-index: 1;
}

.pokedex-item:hover .pk-glow{
border-radius:100%;
opacity: 0.3;
transition: opacity  0.5s;
background: -moz-radial-gradient(center, ellipse cover,  rgba(92,193,179,1) 0%, rgba(115,187,217,0) 71%, rgba(125,185,232,0) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgba(92,193,179,1) 0%,rgba(115,187,217,0) 71%,rgba(125,185,232,0) 100%);
background: radial-gradient(ellipse at center,  rgba(92,193,179,1) 0%,rgba(115,187,217,0) 71%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cc1b3', endColorstr='#007db9e8',GradientType=1 );

}

.pk-name {
text-transform: capitalize;
position:relative;
top: -10px;
z-index: 2;
text-decoration: none;
color:black;
}

.pk-type {
display:none;
}

.pk-sprite {
background: url('/images/sprites.png');
height: 128px;
width: 128px;
position:relative;
z-index: 2;
}

#pk_profile_sprite {
position: absolute;
bottom: -30px;
margin: auto;
left: 0;
right: 0;
}

#pk_sprite_wrapper {
height:215px;
position: relative;
}

#pk_sprite_sphere_wrapper {
overflow: hidden;
height: 200px;
position: relative;
display: block;
width: 394px;
margin: auto;
}

#pk_sprite_sphere {
height: 390px;
width: 390px;
border-radius: 100%;
display: block;
margin: auto;
padding-top: 60px;
box-sizing: border-box;
border: 5px solid #ffffff;
opacity: 0.3;
}

#pk_sprite_sphere_dot {
position: absolute;
bottom: 0;
right: 0px;
height: 10px;
width: 10px;
background: white;
border-radius: 100%;
}

#pk_name {
font-size: 40px;
margin-top: 3px;
color:#466c6d;
text-transform: capitalize;
}

#pk_health_bar {
display: block;
margin: auto;
width: 240px;
background: #6ceaba;
height: 7px;
margin-top: 8px;
border-radius: 2px;
border: 1px solid #61cea4;
box-sizing: border-box;
}

#pk_health {
font-size: 20px;
margin-top: 4px;
color: #383e3c;
}

#pk_info {
display: block;
width: 100%;
height: 70px;
margin-top: 20px;
position:relative;
border-bottom: 1px solid #e2e2e2;
}

.pk-info-item {
display: inline-block;
height: 100%;
width: 32%;
position: relative;
}

.pk-info-item:nth-child(1) {
box-sizing: border-box;
border-right: 1px solid #e2e2e2;
}

.pk-info-item:nth-child(2) {
box-sizing: border-box;
border-right: 1px solid #e2e2e2;
}

.pk-info-item-title {
color: #717171;
margin-top:6px;
}

.pk-info-item-text {
font-size: 16px;
margin-top: 12px;
color: #3c605c;
text-transform: capitalize;
}

.pk-stat-unit {
color: #717171;
font-size:14px;
position: relative;
top:1px;
text-transform: lowercase;
}

.pk-combat-info-item {
display: inline-block;
height: 100%;
width: 49%;
position: relative;
}

.pk-combat-info-item:nth-child(1) {
box-sizing: border-box;
border-right: 1px solid #e2e2e2;
}

.pk-combat-info-item-text {
font-size: 16px;
margin-top: 12px;
color: #8e4646;
text-transform: capitalize;
}

#pk_upgrade_info {
display: block;
width: 100%;
height: 70px;
margin-top: 20px;
position:relative;
border-bottom: 1px solid #e2e2e2;
}

.pk-upgrade-info-item {
display: inline-block;
height: 100%;
width: 49%;
position: relative;
}

.pk-upgrade-info-item-title {
color: #717171;
margin-top:6px;
text-transform: uppercase;
}

.pk-upgrade-info-item-text {
font-size: 20px;
margin-top: 6px;
color: #3c605c;
text-transform: capitalize;
}

.cp-upgrade {
color: #32b741;
}

#pk_evolve_info {
display: block;
width: 100%;
height: 165px;
margin-top: 20px;
position: relative;
border-bottom: 1px solid #e2e2e2;
}

.pk-evolve-info-item {
display:inline-block;
height:130px;
}

.pk-evolve-info-item-title {
margin-top:-20px;
text-transform: capitalize;
text-decoration: none;
color:#466c6d;
}

.pk-evolve-info-title {
margin-top:0px;
color: #717171;
text-transform: uppercase;
}

#pk_basic_move_info {
display: block;
width: 100%;
margin-top: 20px;
position:relative;
border-bottom: 1px solid #e2e2e2;
padding-bottom: 15px;
}

#pk_special_move_info {
display: block;
width: 100%;
margin-top: 20px;
position:relative;
border-bottom: 1px solid #e2e2e2;
padding-bottom: 15px;
}

.pk-moves-info-title {
margin-top:15px;
margin-bottom:15px;
color: #717171;
text-transform: uppercase;
}

.pk-move-item {
position: relative;
height: 60px;
color:#3C4741;
}

.pk-move-title {
position: absolute;
top: 10px;
left: 40px;
text-transform: capitalize;
color:#3c605c;
}

.pk-move-damage {
position: absolute;
top: 10px;
right: 40px;
text-transform: capitalize;
color:#3c605c;
}

.pk-move-type {
font-size: 14px;
position: absolute;
left: 40px;
top: 30px;
text-transform: capitalize;
}

.pk-move-cost {
position: absolute;
top: 13px;
margin-left: 10px;
left: 150px;
}

.pk-move-cost-item {
display:inline-block;
height:10px;
background: rgb(68,180,252);
background: -moz-linear-gradient(top,  rgba(68,180,252,1) 0%, rgba(104,225,251,1) 100%);
background: -webkit-linear-gradient(top,  rgba(68,180,252,1) 0%,rgba(104,225,251,1) 100%);
background: linear-gradient(to bottom,  rgba(68,180,252,1) 0%,rgba(104,225,251,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b4fc', endColorstr='#68e1fb',GradientType=0 );
margin-left:3px;
border:3px solid #afdaff;
border-radius:5px;
}

.pk-move-type.normal {color:    #A8A878;}
.pk-move-type.fire {color:      #F08030;}
.pk-move-type.water {color:     #6890F0;}
.pk-move-type.grass {color:     #78c850;}
.pk-move-type.electric {color:  #f8d030;}
.pk-move-type.ice {color:       #98d8d8;}
.pk-move-type.ground {color:    #e0c068;}
.pk-move-type.flying {color:    #a890f0;}
.pk-move-type.poison {color:    #a040a0;}
.pk-move-type.fighting {color:  #c03028;}
.pk-move-type.psychic {color:   #f85888;}
.pk-move-type.dark {color:      #705848;}
.pk-move-type.rock {color:      #b8a038;}
.pk-move-type.bug {color:       #a8b820;}
.pk-move-type.ghost {color:     #705898;}
.pk-move-type.steel {color:     #b8b8d0;}
.pk-move-type.dragon {color:    #7038f8;}
.pk-move-type.fairy {color:     #ffaec9;}

.pk-sprite.bulbasaur {background-position: 0px 0px;}
.pk-sprite.ivysaur {background-position: -128px 0px;}
.pk-sprite.venusaur {background-position: -256px 0px;}
.pk-sprite.charmander {background-position: -640px 0px;}
.pk-sprite.charmeleon {background-position: -768px 0px;}
.pk-sprite.charizard {background-position: -896px 0px;}

.pk-sprite.squirtle {background-position: 0px -128px;}
.pk-sprite.wartortle {background-position: -128px -128px;}
.pk-sprite.blastoise {background-position: -256px -128px;}
.pk-sprite.caterpie {background-position: -512px -128px;}
.pk-sprite.metapod {background-position: -640px -128px;}
.pk-sprite.butterfree {background-position: -768px -128px;}

.pk-sprite.weedle {background-position: -1028px -128px;}
.pk-sprite.kakuna {background-position: -1156px -128px;}
.pk-sprite.beedrill {background-position: 0px -256px;}
.pk-sprite.pidgey {background-position: -256px -256px;}
.pk-sprite.pidgeotto {background-position: -384px -256px;}
.pk-sprite.pidgeot {background-position: -512px -256px;}

.pk-sprite.rattata {background-position: -768px -256px;}
.pk-sprite.raticate {background-position: -1028px -256px;}
.pk-sprite.spearow {background-position: 0px -384px;}
.pk-sprite.fearow {background-position: -128px -384px;}
.pk-sprite.ekans {background-position: -256px -384px;}
.pk-sprite.arbok {background-position: -384px -384px;}

.pk-sprite.pikachu {background-position: -512px -384px;}
.pk-sprite.raichu {background-position: -896px -384px;}
.pk-sprite.sandshrew {background-position: -1152px -384px;}
.pk-sprite.sandslash {background-position: -0px -512px;}
.pk-sprite.nidoran-f {background-position: -128px -512px;}
.pk-sprite.nidorina {background-position: -256px -512px;}

.pk-sprite.nidoqueen {background-position: -384px -512px;}
.pk-sprite.nidoran-m {background-position: -512px -512px;}
.pk-sprite.nidorino {background-position: -640px -512px;}
.pk-sprite.nidoking {background-position: -768px -512px;}
.pk-sprite.clefairy {background-position: -896px -512px;}
.pk-sprite.clefable {background-position: -1024px -512px;}

.pk-sprite.vulpix {background-position: -1152px -512px;}
.pk-sprite.ninetales {background-position: -0px -640px;}
.pk-sprite.jigglypuff {background-position: -128px -640px;}
.pk-sprite.wigglytuff {background-position: -256px -640px;}
.pk-sprite.zubat {background-position: -384px -640px;}
.pk-sprite.golbat {background-position: -640px -640px;}

.pk-sprite.oddish {background-position: -896px -640px;}
.pk-sprite.gloom {background-position: -1024px -640px;}
.pk-sprite.vileplume {background-position: -0px -768px;}
.pk-sprite.paras {background-position: -256px -768px;}
.pk-sprite.parasect {background-position: -384px -768px;}
.pk-sprite.venonat {background-position: -512px -768px;}

.pk-sprite.venomoth {background-position: -640px -768px;}
.pk-sprite.diglett {background-position: -768px -768px;}
.pk-sprite.dugtrio {background-position: -896px -768px;}
.pk-sprite.meowth {background-position: -1024px -768px;}
.pk-sprite.persian {background-position: -1156px -768px;}
.pk-sprite.psyduck {background-position: -0px -896px;}

.pk-sprite.golduck {background-position: -128px -896px;}
.pk-sprite.mankey {background-position: -256px -896px;}
.pk-sprite.primeape {background-position: -384px -896px;}
.pk-sprite.growlithe {background-position: -512px -896px;}
.pk-sprite.arcanine {background-position: -648px -896px;}
.pk-sprite.poliwag {background-position: -768px -896px;}

.pk-sprite.poliwhirl {background-position: -896px -896px;}
.pk-sprite.poliwrath {background-position: -1024px -896px;}
.pk-sprite.abra {background-position: -1156px -896px;}
.pk-sprite.kadabra {background-position: -0px -1024px;}
.pk-sprite.alakazam {background-position: -256px -1024px;}
.pk-sprite.machop {background-position: -640px -1024px;}

.pk-sprite.machoke {background-position: -768px -1024px;}
.pk-sprite.machamp {background-position: -896px -1024px;}
.pk-sprite.bellsprout {background-position: -1024px -1024px;}
.pk-sprite.weepinbell {background-position: -1156px -1024px;}
.pk-sprite.victreebel {background-position: -0px -1156px;}
.pk-sprite.tentacool {background-position: -128px -1156px;}

.pk-sprite.tentacruel {background-position: -256px -1156px;}
.pk-sprite.geodude {background-position: -384px -1156px;}
.pk-sprite.graveler {background-position: -512px -1156px;}
.pk-sprite.golem {background-position: -640px -1156px;}
.pk-sprite.ponyta {background-position: -768px -1156px;}
.pk-sprite.rapidash {background-position: -896px -1156px;}

.pk-sprite.slowpoke {background-position: -1024px -1156px;}
.pk-sprite.slowbro {background-position: -1156px -1156px;}
.pk-sprite.magnemite {background-position: -128px -1284px;}
.pk-sprite.magneton {background-position: -256px -1284px;}
.pk-sprite.farfetchd {background-position: -384px -1284px;}
.pk-sprite.doduo {background-position: -512px -1284px;}

.pk-sprite.dodrio {background-position: -768px -1284px;}
.pk-sprite.seel {background-position: -1024px -1284px;}
.pk-sprite.dewgong {background-position: -1156px -1284px;}
.pk-sprite.grimer {background-position: -0px -1412px;}
.pk-sprite.muk {background-position: -128px -1412px;}
.pk-sprite.shellder {background-position: -256px -1412px;}

.pk-sprite.cloyster {background-position: -384px -1412px;}
.pk-sprite.gastly {background-position: -512px -1412px;}
.pk-sprite.haunter {background-position: -640px -1412px;}
.pk-sprite.gengar {background-position: -768px -1412px;}
.pk-sprite.onix {background-position: -1024px -1412px;}
.pk-sprite.drowzee {background-position: -1156px -1412px;}

.pk-sprite.hypno {background-position: -0px -1540px;}
.pk-sprite.krabby {background-position: -256px -1540px;}
.pk-sprite.kingler {background-position: -384px -1540px;}
.pk-sprite.voltorb {background-position: -512px -1540px;}
.pk-sprite.electrode {background-position: -640px -1540px;}
.pk-sprite.exeggcute {background-position: -768px -1540px;}

.pk-sprite.exeggutor {background-position: -896px -1540px;}
.pk-sprite.cubone {background-position: -1024px -1540px;}
.pk-sprite.marowak {background-position: -1156px -1540px;}
.pk-sprite.hitmonlee {background-position: -0px -1668px;}
.pk-sprite.hitmonchan {background-position: -128px -1668px;}
.pk-sprite.lickitung {background-position: -256px -1668px;}

.pk-sprite.koffing {background-position: -384px -1668px;}
.pk-sprite.weezing {background-position: -512px -1668px;}
.pk-sprite.rhyhorn {background-position: -640px -1668px;}
.pk-sprite.rhydon {background-position: -896px -1668px;}
.pk-sprite.chansey {background-position: -1156px -1668px;}
.pk-sprite.tangela {background-position: -0px -1796px;}

.pk-sprite.kangaskhan {background-position: -128px -1796px;}
.pk-sprite.horsea {background-position: -256px -1796px;}
.pk-sprite.horsea {background-position: -384px -1796px;}
.pk-sprite.seadra {background-position: -512px -1796px;}
.pk-sprite.goldeen {background-position: -640px -1796px;}
.pk-sprite.seaking {background-position: -896px -1796px;}

.pk-sprite.staryu {background-position: -1156px -1796px;}
.pk-sprite.starmie {background-position: -0px -1924px;}
.pk-sprite.mr.mime {background-position: -128px -1924px;}
.pk-sprite.scyther {background-position: -256px -1924px;}
.pk-sprite.jynx {background-position: -512px -1924px;}
.pk-sprite.electabuzz {background-position: -640px -1924px;}

.pk-sprite.magmar {background-position: -768px -1924px;}
.pk-sprite.pinsir {background-position: -896px -1924px;}
.pk-sprite.tauros {background-position: -1156px -1924px;}
.pk-sprite.magikarp {background-position: -0px -2052px;}
.pk-sprite.gyarados {background-position: -256px -2052px;}
.pk-sprite.lapras {background-position: -640px -2052px;}

.pk-sprite.ditto {background-position: -768px -2050px;}
.pk-sprite.eevee {background-position: -896px -2052px;}
.pk-sprite.vaporeon {background-position: -1024px -2052px;}
.pk-sprite.jolteon {background-position: -1156px -2052px;}
.pk-sprite.flareon {background-position: -0px -2180px;}
.pk-sprite.porygon {background-position: -128px -2180px;}

.pk-sprite.omanyte {background-position: -256px -2180px;}
.pk-sprite.omastar {background-position: -384px -2180px;}
.pk-sprite.kabuto {background-position: -512px -2180px;}
.pk-sprite.kabutops {background-position: -640px -2180px;}
.pk-sprite.aerodactyl {background-position: -768px -2180px;}
.pk-sprite.snorlax {background-position: -1024px -2180px;}

.pk-sprite.articuno {background-position: -1156px -2180px;}
.pk-sprite.zapdos {background-position: -0px -2308px;}
.pk-sprite.moltres {background-position: -128px -2308px;}
.pk-sprite.dratini {background-position: -256px -2308px;}
.pk-sprite.dragonair {background-position: -384px -2308px;}
.pk-sprite.dragonite {background-position: -512px -2308px;}
.pk-sprite.mewtwo {background-position: -640px -2308px;}
.pk-sprite.mew {background-position: -1024px -2308px;}

.pikalytics-link {
color: #fdd800;
}