<div id="footer">
  Pokémon and its trademarks are ©1995-2016 Nintendo, Creatures, and GAMEFREAK. Pokemon GO and its trademarks are © Nintendo and Niantic.
PoGo-Dex is a fansite. We are not official in any shape or form, nor affiliated, sponsored, or otherwise endorsed by Nintendo, Creatures, GAMEFREAK, or Niantic.<br><br><br><br>
  Like PoGoDex? Check out our sister site, <a href="http://www.pikalytics.com" class="pikalytics-link" target="_blank">Pikalytics</a>!
</div>