<div id="left_nav">
  <div class="left-nav-category">Pokemon</div>
    <a href="/" class="left-nav-item">Pokedex</a>
  <div class="left-nav-category">Moves</div>
    <a href="/moves/basic" class="left-nav-item">Basic Attacks</a>
    <a href="/moves/special" class="left-nav-item">Special Attacks</a>
  {{#data}}
    <div class="left-nav-category">{{title}}</div>
    {{#articles}}
      <a href="/article/{{slug}}" class="left-nav-item">{{name}}</a>
    {{/articles}}
  {{/data}}
</div>