<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="header">

    </div>
    <div id="content_wrapper">
      <div id="contents">
        {{#pokemon}}
        <a class="pokedex-item">
          <div class="pk-glow"></div>
          <div class="pk-sprite {{name}}"></div>
          <span class="pk-name">{{name}}</span>
        </a>
        {{/pokemon}}
      </div>
    </div>
  </body>
</html>